<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/test-config/test-config.html">

<dom-module id="configurations-manager">
  <template>
    <test-config></test-config>

  </template>
</dom-module>
  <script>
    Polymer({
      is: 'configurations-manager',
      properties: {},
      ready: function() {
        return;
      }
    });
  </script>
