<!--
    Relative paths assume component is being run from inside an app or another component, where dependencies are flat
    siblings. When this component is run from its own repo (e.g. tests, examples), we assume the server is started with
    'gulp serve' (or similar server setup) to enable correct finding of bower dependencies for local runs.
-->
<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html" />
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html" />
<link rel="import" href="../../bower_components/bwt-datatable/bwt-datatable.html" />
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../../bower_components/px-file-upload/px-file-upload.html" />
<link rel="import" href="../../bower_components/px-card/px-card.html" />


<dom-module id="edit-templates">
  <template>
    <style>
    .font-type {
      font-family: 'Roboto', sans-serif;
    }

    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
    }

    .icon-style {
      margin-left: 5px;
      margin-right: 5px;
    }

    .flex--row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }

    .flex--col {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }

    .flex--center {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

    .flex--justify {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

    .flex--middle {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

    .flex--stretch {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
  </style>

    <iron-ajax
    id="ajax"
    url="/api/notification/"
    method="GET"
    body="{}"
    handle-as="json"
    content-type="application/json">
  </iron-ajax>

  <!-- TODO: FILL OUT DIALOGS -->
  <paper-dialog id="createTemplate">
    <h2>Create New Template:</h2>
    <paper-dialog-scrollable id="tempScroll">
    <paper-input id="newTemplateName" label="Name:" placeholder="example-template"></paper-input>
    <paper-input id="newTemplateDescription" label="Description:" placeholder="Example Template"></paper-input>
    <paper-input id="newTemplateDomain" label="Domain:" placeholder="ev.ge.com"></paper-input>
    <paper-input id="newTemplateSubject" label="Subject:" placeholder="Report"></paper-input>
    <px-file-upload id="uploadTemplate" message="Upload Template:" accept="text/html"></px-file-upload>
    </paper-dialog-scrollable>
    <div class="buttons">
    <paper-button dialog-dismiss>CANCEL</paper-button>
    <paper-button on-tap="sendTemplate">CREATE</paper-button>
      </div>
  </paper-dialog>

  <paper-dialog id="createMatcher">

  </paper-dialog>

  <paper-dialog id="createRecipient">


  </paper-dialog>

  <paper-dialog id="editTemplate">


  </paper-dialog>

  <paper-dialog id="templateInvalid">
    <h2>Template Invalid:</h2>
    <p>
      No template has been uploaded.
    </p>
    <!-- TODO: UPLOAD TEMPLATE -->
  </paper-dialog>

  <px-card>
  <px-card header-text="Manage Templates, Matchers, and Recipients" class="font-type">
    <div class="flex__item flex__item--msfix"><content></content></div>
    <div id="entire-page" class="flex flex--row flex--justify flex--stretch font-type">
        <div id="left-view" style="flex: 1 1 auto; width: 100%;">
          <div id="choose-template" style="flex: 1 1 auto; width: 100%; text-align: center;">
            <paper-dropdown-menu id="pickTemplate" placeholder="Choose Template" label="Template" style="width: 60%;">
              <paper-listbox slot="dropdown-content">
                <template is="dom-repeat" items="{{templates}}" as="template">
                  <paper-item label="{{template.templateUuid}}">
                    {{template.name}}
                  </paper-item>
                </template>
              </paper-listbox>
            </paper-dropdown-menu>
            <paper-icon-button id="createTemplateButton" icon="add" class="icon-style" style="margin-left: 20px;" on-tap="openNewTemplate"></paper-icon-button>
            <paper-icon-button id="deleteTemplateButton" icon="delete" class="icon-style" on-tap="deleteTemplate"></paper-icon-button>
          </div>
          <div id="view-parameters" class="flex" style="flex: 1 1 auto; text-align: center; width: 70%;">
            <paper-datatable id="viewParameters" data="{{parameters}}" class="flex" style="width: 70%;">
              <paper-datatable-column header="Template Parameters" property="parameter"></paper-datatable-column>
            </paper-datatable>
          </div>
        </div>
        <div id="right-view" style="flex: 1 1 auto; width: 100%;">
          <div id="choose-matcher" style="flex: 1 1 auto; width: 100%; text-align: center;">
            <paper-dropdown-menu id="pickMatcher" placeholder="Choose Matcher" label="Matcher" style="width: 60%;">
              <paper-listbox slot="dropdown-content">
                <template is="dom-repeat" items="{{matchers}}" as="matcher">
                  <paper-item label="{{matcher.matcherUuid}}">
                    {{matcher.matchers}}
                  </paper-item>
                </template>
              </paper-listbox>
            </paper-dropdown-menu>
            <paper-icon-button id="createMatcher" icon="add" class="icon-style" style="margin-left: 20px;"></paper-icon-button>
            <paper-icon-button id="deleteMatcher" icon="delete" class="icon-style"></paper-icon-button>
          </div>
          <div id="view-recipients" style="flex: 1 1 auto; text-align: center; width: 70%;" class="flex">
            <paper-datatable id="viewRecipients" data="{{recipients}}" class="flex" style="width: 70%;">
              <paper-datatable-column header="Recipients" property="recipient"></paper-datatable-column>
            </paper-datatable>
          </div>
        </div>
  </div>
    </px-card>
  </px-card>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'edit-templates',

    properties:
    {
      templates: {
        type: Array,
        value: function() {
          return [];
        }
      },

      parameters: {
        type: Array,
        value: function() {
          return [];
        }
      },

      matchers: {
        type: Array,
        value: function() {
          return [];
        }
      },

      recipients: {
        type: Array,
        value: function() {
          return [];
        }
      }
    },

    ready: function() {
      this.getTemplates();
      this.$.pickTemplate.addEventListener('selected-item-changed', this.chosenTemplate);
      this.$.pickMatcher.addEventListener('selected-item-changed', this.chosenMatcher);
      fixTable(this.$.viewParameters);
      fixTable(this.$.viewRecipients);

      function fixTable(table) {
        if (table.querySelector('#container')) {
          // table.querySelector('#container').classList.add('container');
          table.querySelector('#container').style.width = 100 + '%';
        } else {
          fixTable(table);
        }
      }
    },

    setAjax: function(url, method, body) {
      var ajax = this.$.ajax;
      ajax.url = url;
      ajax.method = method;
      ajax.body = body ? body : {};
      return ajax;
    },

    getTemplates: function() {
      var ajax = this.setAjax("/api/notification/templates", "GET");
      ajax.addEventListener('response', templateResponse);
      ajax.generateRequest();

      function templateResponse(e) {
        ajax.removeEventListener('response', templateResponse);
        this.parentElement.templates = e.detail.response.payload;
      }
    },

    getMatchers: function(templateUuid) {
      let url = "/api/notification/templates/" + templateUuid + "/matchers";
      var ajax = this.setAjax(url, "GET");
      ajax.addEventListener('response', matcherResponse);
      ajax.generateRequest();

      function matcherResponse(e) {
        ajax.removeEventListener('response', matcherResponse);
        this.parentElement.matchers = e.detail.response.payload;
      }
    },

    getRecipients: function(templateUuid, matcherUuid) {
      let url = "/api/notification/templates/" + templateUuid + "/matchers/" + matcherUuid + "/recipients";
      var ajax = this.setAjax(url, "GET");
      ajax.addEventListener('response', recipientResponse);
      ajax.generateRequest();

      function recipientResponse(e) {
        ajax.removeEventListener('response', recipientResponse);
        this.parentElement.recipients = e.detail.response.payload.map(function(email) {
          return { "recipient": email.recipients };
        });
      }
    },

    parseTemplate: function(templateBody) {

      var regex = /{{.*}}/g;
      var regexArray = templateBody.match(regex).map(function(match) {
        return match.slice(2, match.length - 2);
      });
      return regexArray.map(function(string) {
        return { "parameter": string };
      });
    },

    chosenTemplate: function(e) {
      // TODO: CLEAR DATA IN MATCHER AND RECIPIENT DISPLAY, UPDATE MATCHERS IN DROPDOWN, AND PARSE AND DISPLAY PARAMETERS
      var self = document.querySelector('edit-templates');
      if (e.detail.value) {
        var templateLabel = e.detail.value.label;

        // Clear data in matcher and recipient display.
        self.recipients = [];

        var template = self.templates.find(function(temp) { return temp.templateUuid === templateLabel; });
        if (!template.bodyTemplate) {
          //return error dialog
          self.$.templateInvalid.open();
        } else {
          // Get matchers.
          self.getMatchers(template.templateUuid);

          // Parse and display parameters.
          self.parameters = self.parseTemplate(template.bodyTemplate);
        }
      }
    },

    chosenMatcher: function(e) {
      var self = document.querySelector('edit-templates');
      if (e.detail.value) {
        var matcherLabel = e.detail.value.label;
        var templateLabel = self.$.pickTemplate.selectedItemLabel;
        self.getRecipients(templateLabel, matcherLabel);
      }
    },

    openNewTemplate: function(e) {
      this.$.createTemplate.open();
    },

    sendTemplate: function() {
      var data = {};
      data.name = this.$.createTemplate.children.tempScroll.children.scrollable.children.newTemplateName.value;
      data.domain = this.$.createTemplate.children.tempScroll.children.scrollable.children.newTemplateDomain.value;
      data.description = this.$.createTemplate.children.tempScroll.children.scrollable.children.newTemplateDescription.value;
      data.subjectTemplate = this.$.createTemplate.children.tempScroll.children.scrollable.children.newTemplateDomain.value;
      var upload = this.$.createTemplate.children.tempScroll.children.scrollable.children.uploadTemplate;

      var ajax = this.setAjax("/api/notification/templates", "POST", data);
      ajax.addEventListener('response', newTemplateSubscription);
      ajax.generateRequest();

      function newTemplateSubscription(e) {
        ajax.removeEventListener('response', newTemplateSubscription);
        var templateUuid = e.detail.response.payload.templateUuid;
        var url = "/api/notification/templates/" + templateUuid + "/upload";
        ajax = this.parentElement.setAjax(url, "POST", upload.files[0]);
        ajax.contentType = "multipart/form-data";
        ajax.addEventListener('response', newUpload);
        ajax.generateRequest();

        function newUpload(ev) {
          this.parentElement.parentElement.$.getTemplates();
        }
      }

      this.$.createTemplate.close();
    },

    deleteTemplate: function(e) {
      var template = this.$.pickTemplate.selectedItemLabel;
      var url = "/api/notification/templates/" + template;
      var ajax = this.setAjax(url, "DELETE");
      ajax.addEventListener('response', refreshDelete);
      ajax.generateRequest();
      function refreshDelete() {
        ajax.removeEventListener('response', refreshDelete);
        this.parentElement.getTemplates();
      }
    }

  });
</script>
