
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/configure-email/configure-email.html">

<dom-module id="email-manager">
  <template>
    <px-card>
    <configure-email></configure-email>
    </px-card>

  </template>
</dom-module>
  <script>
    Polymer({
      is: 'email-manager',
      properties: {},
      ready: function() {
        return;
      }
    });
  </script>
