<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="import" href="../../bower_components/px-data-table/px-data-table.html"> -->
<link rel="import" href="../../bower_components/event-inbox/event-inbox.html">

<dom-module id="event-info">
  <template>
      <px-card header-text="Event Display"><p></p>
    <event-inbox></event-inbox>
  </px-card>

      <!-- Choose one of these iron-ajax elements to load data from the source of your choice. -->

      <!-- First option loads sample data from a json file in the server/sample-data directory. -->
      <!-- mock-asset-service -->
      <!-- <iron-ajax url="/mock-api/predix-asset/asset?filter=group=/group/plant-richmond-refinery" id="assetQueryElement" last-response="{{rawAssetData}}" auto></iron-ajax> -->
      <!-- end mock-asset-service -->

      <!-- Second option loads compressor data from Predix Time Series directly.
            You can use this option if you used the fast install script. -->
      <!-- real-asset-service
      <iron-ajax url="/predix-api/predix-asset/asset/compressor-2017" id="assetQueryElement" last-response="{{rawAssetData}}" auto></iron-ajax>
      end real-asset-service -->

      <!-- Third option loads jet engine data from Predix Time Series directly.
            You can use this option if you inserted jet engine data using the Predix Toolkit -->
      <!-- <iron-ajax url="/predix-api/predix-asset/engine" id="assetQueryElement" last-response="{{rawAssetData}}" auto></iron-ajax> -->

    <!-- </px-card> -->
  </template>

</dom-module>
