<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<!-- <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"> -->

<link rel="import" href="../../bower_components/event-inbox/event-inbox.html">

<dom-module id="event-info">
  <template>

    <px-card>
      <px-card header-text="Event Display"><p></p>
        <event-inbox></event-inbox>
      </px-card>
      </px-card>

  </template>
  <script>
    Polymer({
      is: 'event-info',
      properties: {
      }
    });
  </script>
</dom-module>
