<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../asset-browser/asset-browser.html">
<link rel="import" href="../seed-table/seed-table.html">
<link rel="import" href="../kpi-bar/kpi-bar.html">

<dom-module id="rmd-view">
  <style>
  :host {
    --iron-icon-width: 16px;
    --iron-icon-height: 16px;
  }
  </style>
  <template>
      <px-card header-text="Dashboard Home"><p>Take a look around your dashboard to manage your notification service.</p></px-card>

  </template>
  <script>
    Polymer({
      is: 'rmd-view',
      properties: {
        rmdAssetModel: {
          type: Object,
          observer: '_assetModelChanged'
        },
        openedAsset: {
          type: Object,
          observer: '_openedAssetChanged'
        },
        rmdTableData: {
          type: Object
        },
        displayTags: {
          type: Array
        },
        showTimeseriesChart: {
          type: Boolean,
          value: false
        },
        wsUrl: {
          type: String
        },
        kpiBarWrapperState: {
          type: String
        }
      }
    });
  </script>
</dom-module>
