<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/configure-tenants/configure-tenants.html">

<dom-module id="tenant-configuration">
  <template>
    <configure-tenants></configure-tenants>

  </template>
  <script>
    Polymer({
      is: 'tenant-configuration',
      properties: {},
      ready: function() {
        return;
      }
    });
  </script>
</dom-module>
