<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-data=table/px-data-table.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html">

<dom-module id="tenant-info">
  <template>

    <!-- <px-card header-text="Tenant Display" icon="fa-sitemap"> -->
    <px-card header-text="Tenant Display"><p></p>
    <px-data-table striped hide-pagination-control="true" table-data='[{"field":"id","data":"1"},{"field":"bindingId","data":"60ff625e-a6b8-4b27-9f06-c11641c4012b"},{"field":"uuid","data":"77e36836-cf4d-49a7-81fb-3a5311a454ff"},{"field":"planId","data":"a64b1064-f14f-4c06-8342-93996c3ac1a1"},{"field":"timestamp","data":"1491854770254"},{"field":"trustedIssuers","data":"https://6ba32cf8-bd8b-4420-b271-d3097bbee2cd.predix-uaa.run.aws-usw02-pr.ice.predix.io/oauth/token"},{"field":"dailyLimit","data":"10000"},{"field":"monthlyLimit", "data":"2000000"}, {"field":"successWebhook","data":"https://notification-webhook.run.aws-usw02-pr.ice.predix.io/success"},{"field":"failWebhook","data":"https://notification-webhook.run.aws-usw02-pr.ice.predix.io/fail"}]' table-rows="true" include-all-columns="true">

      </px-data-table>
      </px-card>

      <!-- Choose one of these iron-ajax elements to load data from the source of your choice. -->

      <!-- First option loads sample data from a json file in the server/sample-data directory. -->
      <!-- mock-asset-service -->
      <!-- <iron-ajax url="/mock-api/predix-asset/asset?filter=group=/group/plant-richmond-refinery" id="assetQueryElement" last-response="{{rawAssetData}}" auto></iron-ajax> -->
      <!-- end mock-asset-service -->

      <!-- Second option loads compressor data from Predix Time Series directly.
            You can use this option if you used the fast install script. -->
      <!-- real-asset-service
      <iron-ajax url="/predix-api/predix-asset/asset/compressor-2017" id="assetQueryElement" last-response="{{rawAssetData}}" auto></iron-ajax>
      end real-asset-service -->

      <!-- Third option loads jet engine data from Predix Time Series directly.
            You can use this option if you inserted jet engine data using the Predix Toolkit -->
      <!-- <iron-ajax url="/predix-api/predix-asset/engine" id="assetQueryElement" last-response="{{rawAssetData}}" auto></iron-ajax> -->

    <!-- </px-card> -->
  </template>
  <script>
    Polymer({
      is: 'tenant-info',
      properties: {
        tsChartData: {
          type: Array
        },
        rawAssetData: {
          type: Object,
          observer: '_formatDataForTable'
        },
        assetTableData: {
          type: Object
        },
        assetDescription: {
          type: String
        }
      },

      _formatDataForTable: function(raw) {
        if (raw[0].assetTag) {
          this._formatAssetTagsForTable(raw);
        } else {
          this._formatEngineDataForTable(raw);
        }
      },

      _formatAssetTagsForTable: function(raw) {
        var sensor, sensors = [];
        var assetTags = raw[0].assetTag;
        for (var property in assetTags) {
          if (assetTags.hasOwnProperty(property)) {
            sensor = assetTags[property];
            delete sensor.complexType;
            delete sensor.tagDatasource;
            sensors.push(sensor);
          }
        }
        this.assetTableData = sensors;
        this.assetDescription = raw[0].description + ": " + raw[0].assetId;
      },

      _formatEngineDataForTable: function(raw) {
        raw.forEach(function(engine) {
          engine.partUri = engine.jetEnginePart.uri;
          engine.partSerialNo = engine.jetEnginePart.sNo;
          delete engine.jetEnginePart;
        })
        this.assetTableData = raw;
        this.assetDescription = "Jet Engines";
      }
    });
  </script>
</dom-module>
