
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../bower_components/configure-tenants/configure-tenants.html">

<dom-module id="test-webhooks">
  <template>
    <px-card>
    <configure-tenants></configure-tenants>
  </px-card>
</template>
</dom-module>
  <script>
    Polymer({
      is: 'test-webhooks',
      properties: {

      }

    });
  </script>
